@import "/src/styles/index.scss";

.post-id__wrapper {
	padding: 100px 20px 20px;
	.post-id__content {
		h1 {
			@include fontType("AdventPro Bold", 24px, 1.2, gray);
		}
	}
	button {
		padding: 2px 10px;
		border: 1px solid #000;
		color: #fff;
		margin: 5px;
		&[name=list] {
			background-color: blue;
		}
		&[name=edit] {
			background-color: darkcyan;
		}
	}
}
