@import "/src/styles/index.scss";

.wrapper {
	//min-height: 100vh;
	min-height: 93vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fullscreen {
	min-height: 94vh;
	width: 100vw;
	min-width: 0;
	display: flex;
	justify-content: center;
}

.foto__container_title {
	background: url("/images/dubai-1.png") 0 0 / cover no-repeat fixed;
	.title__row {
		width: 1200px;
		max-width: 1200px;
		padding: 120px 0;
		text-align: center;
		.logo__item {
		}
		h1 {
			text-transform: uppercase;
			@include fontType("Oswald Medium", 4rem, 3, rgba(255, 255, 255, 1));
			margin-top: 170px;
		}
		.undertitle {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@include fontType("Montserrat SemiBold", 1.5rem, 1.2, rgba(255, 255, 255, 1));
			p {
				margin: 15px 30px;
			}
		}
	}
}

.text__container_why-dubai {
	.why-dubai__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1600px;
		padding: 20px 200px;
		text-align: center;
		h1 {
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
			@include fontType("Montserrat Bold", 1.6rem, 1.2, rgba(0, 0, 0, 0.5));
		}
		.gallery-container {
			margin-top: 1rem;

			&_row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				row-gap: 1rem;
				.gallery__item {
					width: 381px;
					height: 294px;
					img {
						margin-bottom: 1.2rem;
					}
					p {
						@include fontType("Montserrat Medium", 1rem, 1.2, #000000);
					}
				}
			}
		}
	}
}

.text__container_you-can {
	display: flex;
	align-items: center;
	.you-can__content {
		max-width: 1600px;
		padding: 70px 200px;
		text-align: center;
		h1 {
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			margin-bottom: 3rem;
			@include fontType("Montserrat Bold", 1.6rem, 1.2, rgba(0, 0, 0, 0.5));
		}
		.list__container {
			margin-top: 2.5rem;

			&_row {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.list__item {
					flex: 0 0 50%;
					height: 100px;
					text-align: left;
					@include fontType("Montserrat Bold", 1.2rem, 1.2, #000000);
					border-bottom: 1px solid gray;

					&:nth-child(3),
					&:nth-child(4) {
						display: flex;
						align-items: flex-end;
						border: none;
					}
					&:nth-child(4) {
						padding-bottom: 1.4rem;
					}
				}
			}
		}
	}
}

.foto__container_one {
	background: url("/images/dubai-3.jpg") 0 0 / cover no-repeat fixed;
}

.text__container_projects {
	.projects__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1600px;
		//padding: 70px 200px;
		text-align: center;
		h1 {
			letter-spacing: 0.05rem;
			max-width: 750px;
			text-transform: uppercase;
			@include fontType("Montserrat Bold", 1.6rem, 1.2, rgba(0, 0, 0, 0.5));
			span {
				color: #21c056;
			}
		}
		h3 {
			text-transform: uppercase;
			@include fontType("Montserrat Medium", 1rem, 1.2, #000000);
			margin-bottom: 2rem;
		}
		h4 {
			text-transform: uppercase;
			@include fontType("Montserrat Medium", 1rem, 1.2, gray);
		}
		.objects {
			margin-top: 2.5rem;

			&__row {
				display: flex;
				justify-content: space-between;
				.foto__condor {
					background: url("/images/home/condor-marina-star.png") 0 0 / cover no-repeat;
				}
				.foto__concept {
					background: url("/images/home/jvc-concept.png") 0 0 / cover no-repeat;
				}
				.object__item {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					flex: 0 1 49%;
					height: 500px;
					width: 400px;
					border-radius: 25px;
					&_footer,
					&_header {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						height: 126px;
						padding: 15px;
						background-color: rgba(52, 50, 50, 0.5);
					}
					&_header {
						border-radius: 25px 25px 0 0;
						p:nth-child(1) {
							text-transform: uppercase;
							@include fontType("Montserrat Bold", 1.1rem, 2, #fff);
						}
						p:nth-child(2) {
							@include fontType("Montserrat Medium", 0.9rem, 1.3, #fff);
						}
					}
					&_footer {
						border-radius: 0 0 25px 25px;
						p:nth-child(1) {
							text-transform: uppercase;
							@include fontType("Montserrat Bold", 0.9rem, 2, #fff);
						}
						p:nth-child(2),
						p:nth-child(3) {
							@include fontType("Montserrat Medium", 0.8rem, 1.9, #fff);
						}
					}
				}
			}
		}
	}
}

.foto__container_two {
	background: url("/images/dubai-7.jpg") 0 0 / cover no-repeat fixed;
}

.text__container_about-developer {
	.about-developer__content {
		max-width: 1600px;
		display: flex;
		align-items: center;
		.flex__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			h1 {
				letter-spacing: 0.05rem;
				text-transform: uppercase;
				margin-bottom: 3rem;
				@include fontType("Montserrat Bold", 1.6rem, 1.2, rgba(0, 0, 0, 0.5));
			}
			.text {
				@include fontType("Montserrat Medium", 1.2rem, 1.5, rgba(0, 0, 0, 0.5));
				&__container {
					display: flex;
					justify-content: space-between;
					p {
						flex: 0 1 auto;
						width: 380px;
						margin: 0 15px 20px;
						padding: 20px 35px;
						border: 1px solid rgba(0, 0, 0, 0.5);
						border-radius: 15px 100px;
					}
				}
			}
			.description {
				&__row {
					margin: 30px 0;
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					.item__element {
						width: 380px;
						height: 155px;
						p:nth-child(1) {
							@include fontType("Montserrat Bold", 4rem, 1.2, rgba(0, 0, 0, 1));
						}
						p:nth-child(2) {
							text-transform: uppercase;
							margin-top: 20px;
							@include fontType("Montserrat SemiBold", 1.7rem, 1, rgba(0, 0, 0, 1));
						}
					}
					.item__element:nth-child(2) {
						margin: 0 15px;
					}
				}
			}
		}
	}
}

.foto__container_three {
	background: url("/images/dubai-5.jpg") 0 0 / cover no-repeat fixed;
}

.text__container_6 {
	@include fontType("AdventPro Thin", 24px, 1.2, gray);
	padding: 50px;
}

.foto__container_four {
	background: url("/images/dubai-4.jpg") 0 0 / cover no-repeat fixed;
}
