@import "/src/styles/index.scss";

.contacts {
	min-height: 100vh;
	padding: 100px 20px 20px;
	background-color: $menu-bg-color;

	&__container {
		background-color: #ccc;
		min-height: 78vh;
		padding: 20px;
		.title {
			@include fontType("AdventPro Bold", 50px, 1.3, #000);
			text-align: center;
		}
		.text {
			@include fontType("AdventPro Thin", 25px, 1.3, #000);
		}
		ul {
			margin: 20px;
			li {
				list-style: circle;
				a {
					@include fontType("AdventPro Bold", 26px, 1.3, #000);
					line-height: 1.3;
					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}
