@import "/src/styles/index.scss";

.sort {
	height: 100%;
	.sort__container {
		//display: flex;
		//align-items: start;
		//justify-content: center;
		width: 100%;
		min-height: 100vh;
		padding: 100px 25px 25px;
		.sort__wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			h1 {
				@include fontType("AdventPro Bold", 2rem, 1.2, #000);
			}
			.categories__container {
				margin: 25px 0;
				.btns {
					&__container {
						display: flex;
						justify-content: center;
					}
				}
				.list {
					margin: 20px;
					&__container {
						display: flex;
						border: 1px solid #000;
						justify-content: flex-start;
						flex-wrap: wrap;
						max-width: 800px;
						overflow: hidden;
						margin: 0 auto;
						.list__item {
							@include fontType("AdventPro Regular", 1.8em, 1.2, #000);
							display: flex;
							align-items: center;
							justify-content: center;
							width: 150px;
							flex: 1 0 auto;
							height: 150px;
							background-color: lightblue;
							padding: 10px;
							margin: 20px;
						}
					}
				}
			}
		}
	}
}
