@import "/src/styles/index.scss";

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.8s ease 0s;

	&__container {
		border-top: 1px solid yellow;
		transform: translate(0, +100%);
		background-color: $menu-bg-color;

		.footer__row {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			.footer__text {
				@include fontType("AdventPro Bold", null, 1.2, white);
			}
		}
	}
}

.footer.loaded {
	opacity: 1;
}

.footer.loaded .footer__container {
	transition: transform 0.6s ease 0.8s;
	transform: translate(0, 0);
}
